@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #0c2e2e;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  letter-spacing: .0625rem
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
body ::selection {
  color: #fff;
  background-color: #009393
}
body::-webkit-scrollbar {
  width: .75rem
}
body::-webkit-scrollbar-track {
  background: #b0d1d1
}
body::-webkit-scrollbar-thumb {
  background: #c0a161;
  border: .0625rem solid #fff;
  border-radius: .625rem
}
body::-webkit-scrollbar-thumb:hover {
  background: #e6c481
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,68.75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  font-weight: 700;
  line-height: normal;
  letter-spacing: .01875rem;
  text-align: center;
  padding: 1.125rem 2.5rem;
  border: .125rem solid #c0a161;
  border-radius: 1.25rem;
  color: #fff;
  background: #c0a161;
  transition: all .33s;
  text-transform: uppercase;
  box-shadow: .625rem .625rem 1.5625rem rgba(0,0,0,.1)
}
.button:hover {
  background: #e6c481;
  box-shadow: .625rem .625rem .9375rem rgba(0,0,0,.3)
}
.button--fw {
  width: 100%
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.typing-container {
  min-height: 8.75rem
}
.cursor {
  -webkit-animation: blink .7s steps(1) infinite;
  animation: blink .7s steps(1) infinite
}
.cursor.typing {
  -webkit-animation: none;
  animation: none
}
@-webkit-keyframes blink {
  0%,
  100% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
}
.header-modifier {
  text-align: center
}
.header-modifier__title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .09375rem
}
.header-modifier__title span {
  color: #009393;
  text-transform: uppercase
}
.header-modifier__subtitle {
  line-height: 1.6;
  letter-spacing: .03125rem;
  color: #0c2e2e;
  max-width: 43.75rem;
  margin: 0 auto
}
.header-modifier>*:not(:last-child) {
  margin-bottom: 1.25rem
}
.warning {
  max-width: 46.875rem;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: #c01f1f;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2.5rem;
  background: rgba(0,0,0,.1);
  box-shadow: inset 0 0 1.5625rem rgba(0,0,0,.15);
  border-radius: .625rem;
  padding: .9375rem 1.25rem
}
.warning strong {
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: .1875rem
}
.warning img {
  margin-top: .25rem;
  width: 1.25rem
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  padding-block: 1rem
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg,rgba(12,46,46,.95) 0,rgba(33,104,104,.95) 100%);
  opacity: 0;
  transition: all .4s
}
.header._header-scroll {
  backdrop-filter: blur(.1875rem);
  box-shadow: 0 0 .625rem rgba(0,0,0,.6)
}
.header._header-scroll::after {
  content: "";
  opacity: 1
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  position: relative;
  z-index: 15
}
.header__logo {
  max-width: 12.5rem
}
.header__logo img {
  width: 100%
}
.header__button {
  padding: .75rem 1.875rem;
  border: .125rem solid #c0a161
}
.header__button:hover {
  color: #e6c481;
  background: rgba(0,0,0,0);
  border: .125rem solid #e6c481;
  box-shadow: .625rem .625rem .625rem transparent
}
.header__button._navigator-active {
  color: #fff;
  background: #e6c481;
  border: .125rem solid #e6c481
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.5625rem;
  -moz-column-gap: 1.5625rem;
  column-gap: 1.5625rem
}
.menu__link {
  font-size: 1.125rem;
  padding: .4375rem .625rem;
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: .03125rem;
  overflow: hidden;
  position: relative;
  transition: all .1s
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: .125rem;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #e6c481;
  transition: all .25s;
  border-radius: .625rem
}
.menu__link:hover::after {
  height: 100%
}
.menu__link._navigator-active {
  color: #0c2e2e;
  font-weight: 600
}
.menu__link._navigator-active::after {
  height: 100%
}
.footer {
  position: relative;
  background: linear-gradient(-90deg,#0c2e2e 0,#216868 100%);
  color: #fff
}
.footer__container {
  position: relative;
  z-index: 5;
  line-height: 1.5
}
.footer__main {
  padding-block: 4.375rem 3.125rem
}
.footer__bottom {
  padding-block: 3.125rem;
  border-top: .0625rem solid rgba(255,255,255,.6)
}
.footer__copy {
  text-align: center
}
.footer__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none
}
.main-footer {
  display: grid;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  grid-template-columns: repeat(3,auto)
}
.main-footer__community {
  justify-self: center
}
.main-footer__social {
  justify-self: end
}
.body-footer__logo:not(:last-child) {
  margin-bottom: 1.25rem
}
.body-footer__logo img {
  width: 5rem
}
.body-footer__link {
  padding-block: .375rem;
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: .75rem;
  -moz-column-gap: .75rem;
  column-gap: .75rem;
  transition: all .2s
}
.body-footer__link img {
  width: 1.875rem
}
.body-footer__link:hover {
  text-decoration: underline;
  color: #21b9b9
}
.community-footer {
  text-align: center
}
.community-footer__label {
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 600
}
.community-footer__label:not(:last-child) {
  margin-bottom: .9375rem
}
.community-footer__items {
  display: inline-flex;
  flex-direction: column
}
.community-footer__link {
  padding-block: .3125rem;
  transition: all .2s
}
.community-footer__link:hover {
  text-decoration: underline;
  color: #21b9b9
}
.social-footer__label {
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 600
}
.social-footer__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.social-footer__items {
  display: flex;
  gap: .625rem
}
.social-footer__item {
  padding: .6875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  position: relative
}
.social-footer__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  border: .125rem solid transparent;
  opacity: 0;
  transition: all .3s;
  -webkit-transform: scale(0);
  transform: scale(0)
}
.social-footer__item:hover::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  background: #009393;
  border: .125rem solid #fff
}
.social-footer__item img {
  width: 2.1875rem;
  height: 2.1875rem
}
.install-guide {
  background: #9e9e9e;
  padding-block: 6.25rem 4.375rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #000
}
.install-guide a {
  color: #fdd78c;
  text-decoration: underline
}
.install-guide a:hover {
  text-decoration: none
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
  color: #046868
}
.markdown-body h1 {
  padding-bottom: .5em;
  font-size: 2em;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 30px
}
.markdown-body h2 {
  padding-bottom: .5em;
  font-size: 1.5em;
  border-bottom: 1px solid #dbdbdb
}
.markdown-body table {
  display: block;
  width: 100%;
  width: -webkit-max-content;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  color: #000
}
.markdown-body table a {
  color: #c0a161
}
.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 1rem
}
.markdown-body table tr {
  background-color: #e0e0e0;
  border-top: 1px solid #dbdbdb
}
.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
  border: 1px solid #d1d9e0
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #000;
  background-color: #e0e0e0;
  border-radius: 6px;
  word-wrap: normal
}
.markdown-body code,
.markdown-body tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #c9c9c9;
  border-radius: 6px
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 2em
}
.markdown-body ul li {
  list-style-type: disc
}
.license {
  background: #9e9e9e;
  padding-block: 10rem 6.25rem
}
.license__container {
  color: #0c2e2e
}
.license__article:not(:last-child) {
  margin-bottom: 4.375rem
}
.license__title {
  display: flex;
  align-items: center;
  gap: .9375rem;
  font-size: 2.5rem;
  line-height: normal;
  color: #009393;
  margin-bottom: 1.875rem
}
.license__title img {
  width: 4.375rem
}
.license__title.title--smaller {
  margin-bottom: 1.5625rem
}
.license__text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1.125rem;
  max-width: 38.75rem;
  line-height: 1.5;
  color: #000;
  word-spacing: .0625rem
}
.license__text>p:not(:last-child) {
  margin-bottom: 1.5625rem
}
.license__text a {
  font-weight: 500;
  color: #e6c481;
  transition: all .2s
}
.license__text a:hover {
  color: #c0a161;
  text-decoration: underline
}
.hero {
  position: relative
}
.hero__body {
  padding-block: 12.5rem;
  position: relative;
  z-index: 5;
  color: #fff;
  max-width: 37.5rem
}
.hero__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: .03125rem;
  margin-bottom: 1.25rem
}
.hero__title--label {
  color: #009393
}
.hero__text {
  max-width: 34.375rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .03125rem;
  margin-bottom: 2.1875rem
}
.hero__buttons {
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.hero__button {
  min-width: 15.625rem
}
.hero__button--learn {
  border: .125rem solid #009393;
  background: #009393
}
.hero__button--learn:hover {
  background: rgba(0,0,0,0);
  color: #009393
}
.hero__button--install {
  background: rgba(0,0,0,0);
  color: #c0a161;
  box-shadow: 0 0 0 #f8dda8;
  position: relative;
  transition: box-shadow .3s 0s,color .3s
}
.hero__button--install:hover {
  color: #fff;
  background: rgba(0,0,0,0);
  box-shadow: 0 0 .9375rem rgba(248,221,168,.6);
  transition: box-shadow .3s .3s,color .3s
}
.hero__button--install:focus {
  color: #fff
}
.hero__button--install:before {
  content: "";
  transition: .3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background: #c0a161;
  z-index: -1;
  border-radius: .9375rem
}
.hero__button--install:hover:before {
  transition: .3s all ease;
  left: 0;
  right: 0;
  opacity: 1
}
.hero__button--install:focus:before {
  transition: .3s all ease;
  left: 0;
  right: 0;
  opacity: 1
}
.hero__bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8)
}
.hero__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none
}
.about {
  padding-block: 7.5rem 5rem
}
.about__container {
  display: flex;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem
}
.about__image {
  border-radius: .9375rem;
  flex: 0 1 50%;
  max-height: 37.5rem;
  overflow: hidden
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .7s
}
.about__image img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.about__content {
  flex: 0 1 50%;
  align-self: center
}
.about__header {
  text-align: left
}
.about__header:not(:last-child) {
  margin-bottom: 1.875rem
}
.about__item {
  padding-left: 2.8125rem;
  padding-top: .3125rem;
  line-height: 1.5;
  position: relative
}
.about__item:not(:last-child) {
  margin-bottom: 1.0625rem
}
.about__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: .75rem;
  width: 2.1875rem;
  height: 2.1875rem;
  background: rgba(0,0,0,.1) url(../img/about/check.svg) center/1.6875rem no-repeat;
  transition: all .1s
}
.about__item:hover::before {
  background: rgba(0,0,0,.14) url(../img/about/check.svg) center/1.6875rem no-repeat;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.community {
  padding-block: 5rem 7.5rem
}
.community__container {
  display: flex;
  align-items: center;
  gap: 3.125rem
}
.community__container--reverse {
  flex-direction: row-reverse
}
.community__header {
  text-align: left
}
.community__header:not(:last-child) {
  margin-bottom: 2.1875rem
}
.community__social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem
}
.community__link {
  padding: .6875rem;
  border-radius: 50%;
  background: #009393;
  transition: all .25s;
  border: .1875rem solid #009393
}
.community__link:hover {
  border: .1875rem solid #009393;
  background: #21b9b9;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.community__icon {
  width: 2.1875rem;
  height: 2.1875rem
}
.community__image {
  flex: 0 0 32.8125rem;
  overflow: hidden;
  border-radius: 1.25rem;
  width: 100%;
  height: 31.25rem
}
.community__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .625rem;
  transition: all .7s
}
.community__image img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03)
}
.features {
  background: radial-gradient(#247070 0,#0c2e2e 100%);
  padding-block: 5.625rem 6.25rem;
  position: relative;
  z-index: 2
}
.features__container {
  text-align: center;
  color: #fff
}
.features__header {
  text-transform: uppercase
}
.features__header:not(:last-child) {
  margin-bottom: 2.5rem
}
.features__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.1875rem
}
.features__card {
  flex: 0 1 25%;
  padding: 2.5rem 1.875rem;
  border: .0625rem solid rgba(255,255,255,.4);
  transition: all .2s;
  border-radius: .9375rem
}
.features__card:hover {
  border: .0625rem solid rgba(255,255,255,.8);
  background: rgba(255,255,255,.04)
}
.features__icon {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: 1.25rem
}
.features__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: .9375rem
}
.features__text {
  line-height: 1.5
}
.faq {
  padding-block: 5.625rem 6.25rem
}
.faq__container {
  color: #0c2e2e;
  max-width: 50rem
}
.faq__header {
  margin-bottom: 2.5rem
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
.spollers-faq {
  display: grid
}
.spollers-faq__item {
  transition: all .2s
}
.spollers-faq__item:not(:last-child) {
  border-bottom: .0625rem solid rgba(0,147,147,.5)
}
.spollers-faq__title {
  padding-block: 1.5625rem;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  transition: all .2s;
  position: relative
}
.spollers-faq__title::after {
  content: "";
  background: url(../img/faq/arrow.svg) 0/cover no-repeat;
  width: 3.125rem;
  height: 3.125rem;
  transition: all .4s
}
.spollers-faq__title:hover {
  color: #009393
}
.spollers-faq__title._spoller-active {
  padding-block: 1.5625rem .625rem;
  color: #009393;
  border-radius: .625rem .625rem 0 0
}
.spollers-faq__title._spoller-active::after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spollers-faq__body {
  border-radius: 0 0 .625rem .625rem;
  padding: 0 2.5rem 1.5625rem 0;
  line-height: 1.6
}
.spollers-faq__body>p:not(:last-child) {
  margin-bottom: .9375rem
}
.install {
  padding-block: 5.625rem 6.25rem;
  background: #e0e0e0
}
.install__container {
  align-items: center
}
.install__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #009393
}
.install__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.install__items {
  display: flex;
  justify-content: center;
  gap: 1.5625rem;
  text-align: center
}
.install__item {
  flex: 0 0 11.25rem
}
.item-install {
  padding: 1.875rem;
  border-radius: .9375rem;
  transition: all .3s
}
.item-install:hover {
  box-shadow: inset 0 0 2.1875rem rgba(33,185,185,.5);
  color: #21b9b9
}
.item-install__icon {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: .9375rem
}
.item-install__label {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: .03125rem
}